{% extends 'base.html' %}
{% load static %}
{% block title %}Create Group{% endblock %}
{% load i18n %}
{% block contents %}

{% if name_error %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Group information did not validate:</strong> Please ensure a group with such name does not yet exist.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

{% if group_is_created %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Group {{ group_name }} created successfully</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

<main class="main">
    <form method="POST" class="post-form" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container mt-2">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12">
                    <div class="card p-3 py-4"
                         style="border: 2px solid #E8F2FF; box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)">
                        <span class="badge badge-lg badge-pill badge-secondary mb-4"><h1>{% trans "Create Group" %}</h1></span>
                        <div class="input-group mb-3">
                            {{form.name}}
                        </div>
                        <div>
                            {{form.photo}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container mt-4">
            <div class="row d-flex justify-content-center">
                <div class="col-md-5">
                    <div class="card p-4"
                         style="border: 2px solid #E8F2FF; box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)">
            <span class="badge badge-lg badge-pill badge-secondary mb-4">
              <h2>{% trans "Short Description" %}</h2>
            </span> <br> <br>
                        <div class="form-group">
                    {{form.short_description}}
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="card p-4"
                         style="border: 2px solid #E8F2FF; box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)">
            <span class="badge badge-lg badge-pill badge-secondary mb-4">
              <h2>{% trans "Full Description" %}</h2>
            </span> <br> <br>
                        <div class="form-group">
                            {{form.description}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container mt-4 mb-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12">
                    <div class="card p-3 py-4"
                         style="border: 2px solid #E8F2FF; box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)">
                        <div class="col-lg-13">
                            <button type="submit" class="btn btn-block btn-primary"><p class="h2 text-white">{% trans "Submit" %}</p>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div> <br>
    </form>
</main>

{% endblock %}