{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}My Groups{% endblock %}
{% load i18n %}

{% block contents %}

<div class="container mt-4 mb-2">
    <div class="row d-flex justify-content-center">
        <div class="col-md-12">
            <div class="card p-4"
                 style="border: 2px solid #E8F2FF; box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)">
            <span class="badge badge-lg badge-pill badge-secondary mb-4">
              <h2>{% trans "Your Groups" %}</h2>
            </span>
                {% for group in following_groups %}
                    <table class="table table-hover table-cards align-items-center">
                        <tr class="bg-white">
                            <th scope="row">
                                <div class="media align-items-center float-left">
                                    <img src="../assets/images/prv/thumb-1.jpg" class="avatar avatar-lg mr-3"
                                         onerror="this.src='{% static 'images/basic.jpg' %}'">
                                    <div class="media-body">
                                        <a href="{% url 'profile-group' group.pk %}" target="_blank" class='text-primary h5'>{{ group.name }}</a>
                                    </div>
                                </div>
                            </th>
                            <td>
                                <form action="{% url 'group-unfollow' group.pk %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger btn-icon-only rounded-circle float-right">
                                        <span class="btn-inner--icon"><i class="fas fa-sign-out-alt"></i></span>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        <tr class="table-divider"></tr>
                        </tbody>
                    </table>
                {% endfor %}

            </div>
        </div>
    </div>
</div>
<div class="container mt-4 mb-2">
    <div class="row d-flex justify-content-center">
        <div class="col-md-12">
            <div class="card p-4"
                 style="border: 2px solid #E8F2FF; box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)">
            <span class="badge badge-lg badge-pill badge-secondary mb-4">
              <h2>{% trans "Group Invites" %}</h2>
            </span>
                <!--               Invitations start  -->
                {% for invitation in invites %}
                    <table class="table table-hover table-cards align-items-center">
                        <tr class="bg-white">
                            <th scope="row">
                                <div class="media align-items-center float-left">
                                    <img src="../assets/images/prv/thumb-1.jpg" class="avatar avatar-lg mr-3"
                                         onerror="this.src='{% static 'images/basic.jpg' %}'">
                                    <div class="media-body">
                                        <a href="{% url 'profile-group' invitation.group.pk %}" target="_blank" class='text-primary h5'>{{ invitation.group }}</a>
                                    </div>
                                </div>
                            </th>
                            <td>
                                <div class="btn-toolbar float-right" role="group" aria-label="Basic example">
                                    <!-- Green (accept) button -->
                                    <form action="{% url 'group-invitation-accept' invitation.pk %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-success btn-icon-only rounded-circle mx-4">
                                            <span class="btn-inner--icon"><i class="fas fa-check"></i></span>
                                        </button>
                                    </form>
                                    <!-- Red (decline) button -->
                                    <form action="{% url 'group-invitation-reject' invitation.pk %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger btn-icon-only rounded-circle">
                                            <span class="btn-inner--icon"><i class="fas fa-trash-alt"></i></span>
                                        </button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        <tr class="table-divider"></tr>
                        </tbody>
                    </table>
                {% endfor %}
                <!-- End invitations -->
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
{% endblock %}